@keyframes Effect3DFadeIn {

	from {

		transform: rotate3d(0, 0, 0, 0deg);

	} to {

		transform: rotate3d(1, 0, 1, 15deg);

	}

}

@keyframes NotificationMoveIn {

	from {

		right: -25%;

	} to {

		right: 1%;

	}

}

@keyframes NotificationMoveOut {

	from {

		right: 1%;

	} to {

		right: -25%;

	}

}
