div {

  background: var(--Translucent);
  padding: var(--HighPadding);
  margin: 15px;
  border-radius: var(--HighBorderRadius);

}

div.FullWidth {

  width: 100%;
  margin: 0;
  border-radius: none;

}

div.NoBackground {

  background: none;
}

div.NoPadding {

  padding: 0;

}

h1 {  font-size: 5rem;  }
h2 {  font-size: 4rem;  }
h3 {  font-size: 3rem;  }
h4 {  font-size: 2rem;  }
h5 {  font-size: 1.5rem;  }
h6 {  font-size: 1rem;  }

h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: var(--HeadingsFontFamily);
  font-weight: 900;

}

button {

  background: var(--InteractiveBackground);
  border: none;
  border-radius: var(--NormalBorderRadius);
  padding: var(--NormalPadding);
  font-family: var(--DefaultFontFamily);
  border-bottom: 5px var(--DarkColor2) solid;

}

a {

  text-decoration: none;

}

input {

  color: var(--Color1);
  width: 50%;
  border: none;
  border-radius: 100px;
  padding: var(--HighPadding);
  font-family: var(--DefaultFontFamily);
  border-bottom: 5px var(--DarkColor0) solid;

}

button:hover,
a:hover,
input:hover {

  filter: brightness(calc(100% * var(--BrightnessDifference)));

}

button:active,
button:focus,
a:active,
a:focus,
input:active,
input:focus {

  filter: brightness(calc(100% * var(--HighBrightnessDifference)));

}
