div {

  background: var(--Translucent);
  padding: var(--NormalPadding);
  margin: 15px;
  border-radius: var(--HighBorderRadius);

}

div.FullWidth {

  width: calc(100% - 2.5px);
  margin: 0;
  /* margin-top: 10%; */
  margin-bottom: 15px;
  border-radius: 0;

}

div.NoBackground {

  background: none;
}

div.NoPadding {

  padding: 0;

}

div.NoBorderRadius {

  border-radius: 0;

}

h1 {  font-size: 5rem;  }
h2 {  font-size: 4rem;  }
h3 {  font-size: 3rem;  }
h4 {  font-size: 2rem;  }
h5 {  font-size: 1.5rem;  }
h6 {  font-size: 1rem;  }

button {

  background: var(--InteractiveBackground);
  border: none;
  border-radius: var(--NormalBorderRadius);
  padding: var(--NormalPadding);

}

a {

  text-decoration: none;

}

button:hover,
a:hover {

  filter: brightness(calc(100% * var(--BrightnessDifference)));

}

button:active,
button:focus,
a:active,
a:focus {

  filter: brightness(calc(100% * var(--HighBrightnessDifference)));

}