:root.DarkTheme {

  --Color0: #EEEEEE; --TranslucentColor0: #EEEEEE80; --DarkColor0: #909090;
  --Color1: #1f232e; --DarkColor1: #000000;
  --Color2: #0080B0; --TranslucentColor2: #0080B0EE; --DarkColor2: #00658a; --LightColor2: #50D1FF;
  --Color3: #111928; --DarkColor3: #050a14;
  --Color4: rgba(17, 25, 40); --TranslucentColor4: rgba(17, 25, 40, 0.25);
  --Translucent: #EEEEEE10;
  --Goldenrod: goldenrod;

}

/* Set a CSS variety for the light theme. */

:root.LightTheme {

  --Color0: #111111; --TranslucentColor0: #11111180; --DarkColor0: #909090;
  --Color1: #E8F6FF; --DarkColor1: #8EA9B9;
  --Color2: #2AC3FF; --TranslucentColor2: #00A0E0EE; --DarkColor2: #006a94; --LightColor2: #71d9ff;
  --Color3: #d5deee; --DarkColor3: #9fa9c0;
  --Color4: rgba(17, 25, 40); --TranslucentColor4: rgba(17, 25, 40, 0.25);
  --Translucent: #11111110;
  --Goldenrod: #976c00;

}

/* Set a CSS variety for the web. */

:root {

  --Background: var(--Color1);
  --Color: var(--Color0);
  --DefaultFontSize: 1.75vmin;
  --DefaultFontFamily: 'Poppins', sans-serif;
  --HeadingsFontFamily: 'Poppins', sans-serif;

  --LowPadding: 5px;
  --NormalPadding: 10px;
  --HighPadding: 15px;

  --LowBorderRadius: 5px;
  --NormalBorderRadius: 10px;
  --HighBorderRadius: 15px;

  --BrightnessDifference: 0.75;
  --HighBrightnessDifference: calc((1 / 3) * 2);
  --InteractiveBackground: var(--Color2);

}