/* Set a CSS variety for the dark theme. */

:root.DarkTheme {

  --Color0: #EEEEEE;
  --Color1: #111111;
  --Color2: #004080;
  --Translucent: #EEEEEE10;

}

/* Set a CSS variety for the light theme. */

:root.LightTheme {

  --Color0: #111111;
  --Color1: #EEEEEE;
  --Color2: rgb(0, 128, 192);
  --Translucent: #111111EE;

}

/* Set a CSS variety for the web. */

:root {

  --Background: var(--Color1);
  --Color: var(--Color0);
  --DefaultFontSize: 1.75vmin;
  --DefaultFontFamily: 'Poppins', sans-serif;

  --LowPadding: 5px;
  --NormalPadding: 10px;
  --HighPadding: 15px;

  --LowBorderRadius: 5px;
  --NormalBorderRadius: 10px;
  --HighBorderRadius: 15px;

  --BrightnessDifference: 0.25;
  --InteractiveBackground: var(--Color2);

}
